page-home {
    .center-small {
        text-align: center;
        font-size: 10pt;
        margin-top: 5pt;
        margin-bottom: 0pt;
        margin-right: 35pt;
   }
    .center {
        text-align: center;
   }
}
